.customer-demo
    .status Ready.
    .autoModeContainer
        label(for="autoMode").control.checkbox Auto
            input(type="checkbox", id="autoMode")
            .indicator &nbsp;
    .container-input
    .container-numpad
