.simple-demo
    .container
        .row
            input(type="text", class="message", disabled="true")
            button(data-input="commit", disabled="true") Send

        .row
            pre.log

