section.content
    ul.tabs
        li(data-tab = "#tab-emulator")
            span Emulator

        li(data-tab = "#tab-settings")
            span Settings

        li(data-tab = "#tab-log").badge
            span Log

    section.tabs
        div#tab-emulator
        div#tab-settings
        div#tab-log
            ul.log
