.customer-demo
    position relative

    .status
        display block
        font 20px/20px monospace
        color lighten(COLOR_BASE, 50%)
        margin-bottom 10px
        width 660px
        float left

    .autoModeContainer
        position absolute
        top 0
        right 0

        label
            color #fff

            .indicator
                margin-right 0
