.customer-demo
    .status Ready.
    .autoModeContainer
      label(for="autoMode") Auto
      input(type="checkbox", id="autoMode")
    .input 0.00
    .container
        .row
            .numpad
                button(data-input="1") 1
                button(data-input="2") 2
                button(data-input="3") 3
                button(data-input="4") 4
                button(data-input="5") 5
                button(data-input="6") 6
                button(data-input="7") 7
                button(data-input="8") 8
                button(data-input="9") 9
                button(data-input="decimal") ,
                button(data-input="0") 0
                button(data-input="commit") Commit
            .information
                p Settings kommer her ...
