.customer-demo
    .status Ready.
    .autoModeContainer
        label(for="autoMode").control.checkbox Auto
            input(type="checkbox", id="autoMode")
            .indicator &nbsp;

    .input 0.00
    .container
        .row
            .numpad
                for i in [1,2,3,4,5,6,7,8,9]
                    button(data-input=i)= i

                button(data-input="decimal") ,
                button(data-input="0") 0
                button(data-input="commit") Commit
