.numpad
    display table
    width 100%

    .row
        display table-row

        .cell
            width 250px
            display table-cell

            button
                padding 20px 10px
                width (100/3)%
                margin 0
                box-sizing border-box
                height 54px
                font-size 14px

                &:active
                    padding 20px 10px
