.settings
    color #fff

    .control
        margin 5px 0

        .version
            display inline-block

        span
            float left
            width 180px

        .indicator
            margin-left 0

    h2
        margin 0 0 8px 0
        clear left
        padding-top 15px

    .terminalId
        input
            width 175px

        button
            padding 8px 20px
            margin-left 5px
